.emerging-part__main-container{
    position: absolute;
    min-width: 500px;
    top: 30%;
    left: 34%;
    margin-right: 2%;
    border-radius: 8px;
    box-shadow: 5px 5px 5px #aaaaaa;
    background-color: rgba(255, 255, 255, 0.8);
    animation: showBlock 1.8s ease-in forwards;
    z-index: 2;
}

.emerging-part__main-header{
    color: black;
    margin: 2% 0 0 3%;
    font-family: 'Asap Condensed', sans-serif;
    line-height: 1;
}

.emerging-part__second-header{
    color: #dbb594;
    margin: 0 0 0 3%;
    line-height: 1.1;
    font-family: 'Quicksand', sans-serif;
}

.emerging-part__text-content{
    color: #8a7474;
    line-height: 1.4;
    margin: 0 0 0 3%;
}

.emerging-part__buttons-container{
    display: flex;
    justify-content: end;
    flex-direction: row;
}

.emerging-part-buttons__text-content{
    color: #8a7474;
    margin: 2% 6%;
}

.emerging-part-buttons__buttons-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-right: 8%;
}

.emerging-part-buttons__item{
    margin-right: 15%;
    cursor: pointer;
}

.emerging-part-buttons__git-hub-link > svg:hover,
.emerging-part-buttons__logo-dev-link > svg:hover{
    color: #8a7474;
    transition: all .5s;
}

@-webkit-keyframes showBlock {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
  
@keyframes showBlock {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}