.menu-content__fixed-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

.menu-content__fixed-wrapper:target::after {
    content:"";
    display:block;
    height:90px; /* fixed header height*/
    margin:-90px 0 0; /* negative fixed header height */
}

.menu__main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-color: #c8c8c7;
}

.menu-initials__main-container{
    color: #aaaaaa;
}

.menu-initials__text-content{
    margin: 15% 0;
}

.menu-content__main-container{
    border-radius: 8px;
    min-height: 50px;
    width: 620px;
    background: linear-gradient(to right, #f8cda7, #dbb594);
    box-shadow: 5px 5px 5px #aaaaaa;
    display: flex;
    padding-left: .5%;
}

.menu-main-container__icon{
    padding-right: 1%;
    cursor: pointer;
}

.menu-content__items{
    font-family: 'Quicksand', sans-serif!important;
    font-weight: 100!important;
    cursor: pointer;
}

.menu-content__links{
    text-decoration: none;
    color: white;
}

.menu-content__links:hover{
    color: #8a7474;
    transition: all .5s;
}

.menu__linked-in-link,
.menu__git-hub-link,
.menu__instagram-link{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.menu__linked-in-link > svg,
.menu__git-hub-link > svg,
.menu__instagram-link > svg{
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 0;
}

.menu__linked-in-link > svg:hover,
.menu__git-hub-link > svg:hover,
.menu__instagram-link > svg:hover{
    color: #8a7474;
    transition: all .5s;
}