.menu__main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-color: #c8c8c7;
}

.menu-initials__main-container{
    color: #aaaaaa;
}

.menu-initials__text-content{
    margin: 15% 0;
}

.menu-content__main-container{
    border-radius: 8px;
    min-height: 50px;
    background: linear-gradient(to right, #f8cda7, #dbb594);
    box-shadow: 5px 5px 5px #aaaaaa;
    display: flex;
}

.menu-main-container__icon{
    padding-right: 1%;
    cursor: pointer;
}