a{
    text-decoration: inherit;
}

.standard-color-and-font{
    color: $c-hemp;
    line-height: $lh-14;
    margin: 0 $m-1per 0 $m-3per;
}

.main-header{
    color: $c-black;
    font-family: $f-asap-condensed;
    line-height: $lh-1;
    margin: 0;
}

.second-header{
    color: #dbb594;
    line-height: $lh-11;
    font-family: $f-quicksand;
    margin: 0;
}

.circle{
    position: absolute;
    z-index: 0;
}

.margin-zero{
    margin: 0;
}

.margin-top-4-per{
    margin: $m-4per 0 0 0;
}