.standard-color-and-font{
    color: #8a7474;
    line-height: 1.4;
    margin: 0 1% 0 3%;
}

.main-header{
    color: black;
    font-family: 'Asap Condensed', sans-serif;
    line-height: 1;
    margin: 0;
}

.second-header{
    color: #dbb594;
    line-height: 1.1;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.circle{
    position: absolute;
    z-index: 0;
}

.margin-zero{
    margin: 0;
}

.margin-top-4-per{
    margin-top: 4%;
}