//Colors
$c-white: #ffffff;
$c-brandy: #dbb594;
$c-hemp: #8a7474;

//Fonts
$f-quicksand: "Quicksand", sans-serif;

//Padding
$p-150px: 150px;

//Padding right
$pr-3per: 3%;

//Margin bottom
$mb-1per: 1%;
$mb-2per: 2%;
$mb-5per: 5%;

//Flex basis
$fb-40per: 40%;
$fb-60per: 60%;

//Z index
$zi-0: 0;
$zi-1: 1;
$zi-2: 2;

//Width
$w-250px: 250px;
$w-280px: 280px;
$w-400px: 400px;

//Min width
$min-w-300px: 380px;

//Min height
$min-h-500px: 500px;

//Top

//Bottom
$bottom-minus-10per: -10%;
$bottom-minus-25per: -25%;

//Right
$right-minus-11per: -11%;

//Border radius
$bor-r-8px: 8px;

//Line height
$lh-1: 1;
$lh-14: 1.4;