//Colors
$c-white:               #ffffff;
$c-black:               #000000;
$c-brandy:              #dbb594;
$c-hemp:                #8a7474;
$c-corvette:            #f8cda7;
$c-silver-chalice:      #aaaaaa;
$c-peach-cream:         #fff1df;
$c-gallery:             #ededed;
$c-gray-nickel:         #c8c8c7;

$c-crayola-07:             rgba(248, 231, 213, .7);
$c-brandy-08:           rgba(219, 181, 148, 0.8);
$c-white-07:            rgba(255, 255, 255, 0.7);
$c-white-09:            rgba(255, 255, 255, 0.9);

//Fonts
$f-quicksand: "Quicksand", sans-serif;
$f-work-sans: "Work Sans", sans-serif;
$f-asap-condensed: "Asap Condensed", sans-serif;

//Padding
$p-10px: 10px;
$p-20px: 20px;
$p-62px: 62px;
$p-92px: 92px;
$p-150px: 150px;

$p-05per: .5%;
$p-1per: 1%;
$p-2per: 2%;
$p-3per: 3%;
$p-4per: 4%;
$p-5per: 5%;
$p-10per: 10%;

//Margin
$m-10px: 10px;
$m-20px: 20px;

$m-1per: 1%;
$m-2per: 2%;
$m-3per: 3%;
$m-4per: 4%;
$m-5per: 5%;
$m-6per: 6%;
$m-8per: 8%;
$m-15per: 15%;

//Flex basis
$fb-8per: 8%;
$fb-10per: 10%;
$fb-15per: 15%;
$fb-20per: 20%;
$fb-30per: 30%;
$fb-35per: 35%;
$fb-40per: 40%;
$fb-45per: 45%;
$fb-47per: 47%;
$fb-50per: 50%;
$fb-60per: 60%;
$fb-65per: 65%;
$fb-68per: 68%;
$fb-70per: 70%;
$fb-80per: 80%;
$fb-85per: 85%;
$fb-100per: 100%;

//Flex
$flex-1: 1;

//Z index
$zi-0: 0;
$zi-1: 1;
$zi-2: 2;
$zi-3: 3;
$zi-5: 5;

//Width
$w-50px: 50px;
$w-70px: 70px;
$w-100px: 100px;
$w-115px: 115px;
$w-120px: 120px;
$w-200px: 200px;
$w-250px: 250px;
$w-280px: 280px;
$w-350px: 350px;
$w-400px: 400px;
$w-620px: 620px;

$w-10per: 10%;
$w-20per: 20%;
$w-30per: 30%;
$w-40per: 40%;
$w-50per: 50%;
$w-60per: 60%;
$w-65per: 65%;
$w-66per: 66%;
$w-70per: 70%;
$w-80per: 80%;
$w-90per: 90%;
$w-95per: 95%;
$w-100per: 100%;

//Height
$h-minus-90px: -90px;
$h-55px: 55px;
$h-70px: 70px;
$h-90px: 90px;

$h-100per: 100%;

//Min width
$min-w-350px: 350px;
$min-w-370px: 370px;
$min-w-380px: 380px;
$min-w-500px: 500px;

//Max width
$max-w-230px: 230px;

$max-w-90per: 90%;

//Min height
$min-h-50px: 50px;
$min-h-500px: 500px;

//Top
$t-1per: 1%;
$t-3per: 3%;
$t-30per: 30%;
$t-35per: 35%;
$t-38per: 38%;
$t-40per: 40%;

//Bottom
$bottom-minus-10per: -10%;
$bottom-minus-25per: -25%;
$bottom-minus-40per: -40%;
$bottom-minus-50per: -50%;

$bottom-30per: 30%;

//Right
$right-350px: 350px;

$right-2per: 2%;
$right-10per: 10%;
$right-20per: 20%;
$right-38per: 38%;

$right-minus-11per: -11%;

//Left
$left-30per: 30%;
$left-34per: 34%;
$left-50per: 50%;

//Border radius
$bor-r-8px: 8px;

//Line height
$lh-1: 1;
$lh-11: 1.1;
$lh-14: 1.4;

//Box shadow
$box-sh-5px: 5px 5px 5px;

//Font size
$fs-0875rem: .875rem;
$fs-0625rem: .625rem;

$fs-15px: 15;
$fs-19px: 19;

//Font weight
$fw-100: 100;
$fw-600: 600;
$fw-700: 700;

//Transition time
$trans-time-1s: 1s;

//Lists
$columns: $w-10per, $w-20per, $w-30per, $w-40per, $w-50per, $w-60per, $w-70per, $w-80per, $w-90per, $w-100per;