.tools__margin-wrapper{
    padding-top: 62px;
    background-color: white;
}

.tools__main-container{
    background: linear-gradient(90deg,#fff1df,#dbb594);
    padding: 3% 2% 3% 2%;
    position: relative;
}

.tools__main-header{
    color: black;
    font-family: 'Asap Condensed', sans-serif;
    line-height: 1;
    margin: 0;
}

.tools__second-header{
    color: #dbb594;
    line-height: 1.1;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.tools__content-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding-top: 1%;
}

.tools__container-icons{
    flex-basis: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    cursor: pointer;
    transition: all .5s;
    grid-auto-rows: 1fr;
}

.tools__container-icons:hover{
    box-shadow: 5px 5px 5px #aaa;
    transition: all .5s;
}

.tools__inscription{
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #8a7474;
    font-family: "Work Sans",sans-serif;
    margin: 0 1% 1% 1%;
    text-align: center;
    font-size: .625rem;
}

.icon{
    background: white;
    border-radius: 8px;
    cursor: pointer;
    z-index: 1;
}

.tools__icons{
    width: 70px;
    padding: 10%;
    height: 70px;
}

.tools__container-circle-1{
    position: absolute;
    bottom: -40%;
    right: 10%;
    z-index: 0;
}

.tools__circle-1{
    width: 200px;
}