.about-me{
    @include flex();
    @include flexDirection(row);
    @include justifyContent(space-around);
    background-color: $c-white;
    padding: $p-150px 0 0 0;
    position: relative;

    &__image-main-container{
        @include flexBasis($fb-40per);
        @include flex();
        @include justifyContent(right);
        align-items: center;
        align-content: center;
        position: relative;
        z-index: $zi-1;
    }

    .image-main-container{
        &__container-about-me-circle-2{
            bottom: $bottom-minus-25per;
            right: $right-minus-11per;
        }

        &__about-me-circle-2{
            width: $w-250px;
            z-index: $zi-0;
        }

        &__arrows-cantainer{
            cursor: pointer;
        }
    }

    &__main-image-item{
        @include animation(1s ease-in-out 1 slideInFromLeft);
        max-height: $min-h-500px;
        border-radius: $bor-r-8px;
        z-index: $zi-1;
        border: 1px solid $c-white;
    }

    &__container-circle-1,
    &__container-circle-3{
        position: absolute;
        z-index: $zi-0;
    }

    &__container-circle-1{
        bottom: $bottom-30per;
        right: $right-350px;
    }

    &__container-circle-3{
        left: 0;
        top: 0;
    }

    &__circle-1{
        width: $w-350px;
        z-index: 0;
    }

    &__circle-3{
        width: $w-280px;
    }

    .about-me-buttons-part{
        &__main-container{
            @include flexBasis($fb-60per);
            @include flex();
            @include flexDirection(column);
            @include justifyContent(end);
            margin: 0 0 $m-5per 0;
            align-items: center;
            align-content: center;
            text-align: center;
            z-index: $zi-1;
        }

        &__main-header{
            color: $c-brandy;
            font-family: $f-quicksand;
            line-height: $lh-1;
            margin: 0;
        }

        &__text{
            color: $c-hemp;
            line-height: $lh-14;
            margin: $m-1per 0 $m-2per 0;
        }
    }

    .buttons-part-content__buttons-container{
        @include flex();
        @include flexDirection(row);
        @include justifyContent(space-between);
        @include flexWrap(nowrap);
        min-width: $min-w-380px;
        padding: 0 $p-3per 0 0;
    }
}