.blog-posts{
    padding: 92px 0 2% 2%;
    position: relative;
    background-color: white;

    &__container-posts{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        padding: 2% 0 2% 2%;
        margin: 0 2% 3% 0;
        border-radius: 8px;
        z-index: 1;
        transition: all .5s;

        &:hover{
            background-color: rgba(248, 231, 213, .7);
            box-shadow: 5px 5px 5px #aaa;
            z-index: 1;
            transition: all .5s;
        }
    }
    
    &__main-image{
        flex-basis: 30%;
        min-width: 350px;
        border-radius: 8px;
        box-shadow: 5px 5px 5px #aaa;
    }

    .post-content{
        flex-basis: 68%;
        padding-top: 1%;
        position: relative;

        &__main-post-header{
            margin: 0 3% 0 2%;
        }

        &__second-post-header{
            margin: 0 3% 0 2%;
        }

        &__paragraph{
            margin: 0 3% 0 2%;
            padding-right: 3%;
        }

        &__content-read-more{
            display: flex;
            flex-wrap: nowrap;
            justify-content: end;
            align-items: center;
            align-content: center;
            flex-basis: 100%;
            margin-right: 15%;
            color: #dbb594;

            .content{
                &__read-more{
                    margin-right: 2%;
                    cursor: pointer;
                }

                &__read-more-arrow{
                    cursor: pointer;
                }
            }
        }

        &__author-container{
            position: absolute;
            top: 3%;
            right: 2%;
            font-size: .875rem;

            .author-container__author{
                color: #dbb594;
                margin: 0;
            }
        }
    }

    &__container-circle-1{
        top: 38%;
        left: 0;

        .circle-1{
            width: 400px;
        }
    }

    &__container-circle-2{
        top: 35%;
        right: 20%;

        .circle-2{
            width: 250px;
        }
    }

    &__content-main-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 1%;
    }
}