.contact-me{
    padding: $p-5per 0 0 0;
    width: $w-100per;
    @include background($c-peach-cream, $c-brandy);

    &__container-circle-1{
        bottom: 0;
        left: $left-50per;
        
        .circle-1{
            width: $w-400px;
        }
    }

    &__relative-wrapper{
        @include flex();
        @include flexDirection(row);
        @include justifyContent(space-between);
        position: relative;
    }

    &__content-wrapper{
        @include flexBasis($fb-50per);

        .contact-wrapper{
            &__main-header{
                margin: $m-2per 0 0 $m-4per;
            }

            &__second-header{
                margin: 0 0 $m-2per $m-4per;
            }

            &__paragraph{
                margin: 0 0 0 $m-4per;
            }

            &__form{
                margin: $m-5per 0 0 $m-3per;

                .form{
                    &__input{
                        @include boxShadow($box-sh-5px $c-silver-chalice);
                        font-size: pxToRem($fs-15px);
                        width: $w-65per;
                        border-radius: $bor-r-8px;
                        background-color: $c-white;
                        color: $c-hemp;
                        border: none;
                    }

                    &__submit-wrapper{
                        width: $w-66per;

                        .submit{
                            &__container{
                                @include flex();
                                @include flexDirection(row);
                                @include justifyContent(center);
                                @include background($c-corvette, $c-brandy);
                                @include transition();
                                width: $w-120px;
                                border-radius: $bor-r-8px;
                                margin: $m-2per auto;
                                align-items: center;
                                align-content: center;
                                cursor: pointer;

                                &:hover{
                                    @include boxShadow($box-sh-5px $c-silver-chalice);
                                    @include transition();
                                }
                            }

                            &__submit-button{
                                color: $c-white;
                                padding: $p-10per $p-5per;
                                font-size: pxToRem($fs-19px);
                                background: none;
                                border: none;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }

    &__middle-part{
        @include boxShadow($box-sh-5px $c-silver-chalice);
        @include flex();
        @include flexDirection(row);
        @include justifyContent(space-between);
        position: absolute;
        top: $t-40per;
        right: $right-38per;
        border-radius: $bor-r-8px;
        background-color: $c-white-07;
        padding: $p-1per $p-2per;
        align-items: center;
        align-content: center;
        z-index: $zi-2;

        .contact-middle-part{
            &__contact-icon{
                height: $h-55px;
            }

        }
    }

    &__image-wrapper{
        @include flex();
        @include flexDirection(column);
        @include justifyContent(center);
        @include flexBasis($fb-50per);
        z-index: $zi-1;

        .contact-image{
            &__image-container{
                @include flex();
                @include flexDirection(row);
                @include justifyContent(center);
            }

            &__image{
                width: $w-70per;
                border-radius: $bor-r-8px;
            }

            &__text-container{
                text-align: right;
                margin: $m-3per $m-5per $m-5per 0;
            }
        }
    }
}