.final-part{
    width: 100%;
    background-color: #c8c8c7;
    margin: 6% 0 0 0;
    padding: 4% 0 3% 0;

    &__second-header{
        padding: 2% 0 3% 2%;
    }

    &__flex-container{
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        position: relative;

        .circle-1{
            width: 350px;
            z-index: 5;
        }
    }

    &__right-part{
        flex-basis: 47%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 2;

        .right-part{
            &__final-thoughts{
                box-shadow: 5px 5px 5px #aaa;
                border-radius: 8px;
                color: #8a7474;
                padding-bottom: 3%;
                background-color: rgba(255, 255, 255, .8);
            }
            
            &__language-skills{
                box-shadow: 5px 5px 5px #aaa;
                border-radius: 8px;
                color: #8a7474;
                padding-bottom: 3%;
                background-color: rgba(255, 255, 255, .8);

                .language-skills{
                    &__skills-wrapper{
                        width: 90%;
                        margin: 0 auto;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                    }

                    &__skills-flex-container{
                        flex-basis: 65%;
                    }

                    &__language-container{
                        margin-bottom: 2%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        align-content: center;
                    }

                    &__language-icon-wrapper{
                        flex-direction: 15%;
                        display: flex;
                        align-items: center;
                        align-content: center;
                    }

                    &__language-icon{
                        width: 50px;
                    }

                    &__multiple-icon-wrapper{
                        flex-basis: 35%;
                        display: flex;
                        align-items: center;
                        justify-content: end;
                    }

                    &__miltiple-icon{
                        width: 100%;
                        max-width: 230px;
                    }
                }

                .language-skill{
                    &__language-and-level-wrapper{
                        flex-basis: 85%;
                        padding-left: 2%;
                    }

                    &__language{
                        font-weight: bolder;
                    }
                }
            }
        }
    }

    &__container-circle-1{
        position: absolute;
        top: 30%;
        left: 30%;
        z-index: 1;
    }

    &__communication-skills{
        flex-basis: 47%;
        border-radius: 8px;
        padding-bottom: 2%;
        background: linear-gradient(to right, #fff1df, #dbb594);
        z-index: 2;

        .communication-skills{
            &__second-header{
                margin: 2% 0 1% 3%;
            }
        }

        .communication-skill{
            &__wrapper{
                width: 100%;
                margin: 2% auto;
                color: #8a7474;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                align-content: center;
            }

            &__skill-icon-wrapper{
                flex-basis: 20%;
                display: flex;
                justify-content: center;
            }

            &__skill-icon-wrapper{
                flex-basis: 20%;
                display: flex;
                justify-content: center;
            }

            &__skill-icon{
                width: 50px;
            }

            &__content-wrapper{
                flex-basis: 80%;
            }

            &__main-header{
                font-weight: bolder;
            }
        }
    }
}