.portfolio{
    &__container-icons{
        @include flex();
        @include flexDirection(row);
        @include justifyContent(flex-end);
        @include flexBasis($fb-30per);
        padding: 0 $p-3per $p-1per 0;
    }

    &__icon-item{
        @include flex();
        cursor: pointer;
        align-items: center;
        align-content: center;

        svg:hover{
            @include transition(all $trans-time-05s);
            color: $c-hemp;
        }
    }
}