.tools{
    &__margin-wrapper{
        padding: $p-62px 0 0 0;
        background-color: $c-white;
    }

    &__main-container{
        @include background($c-peach-cream, $c-brandy);
        padding: $p-3per $p-2per $p-3per $p-2per;
        position: relative;
    }

    &__container-circle-1{
        bottom: $bottom-minus-40per;
        right: $right-10per;

        .circle-1{
            width: $w-200px;
        }
    }

    &__content-container{
        @include flex();
        @include flexDirection(row);
        @include justifyContent(space-around);
        align-items: center;
        align-content: center;
        padding: $p-1per 0 0 0;
    }

    &__icons-link{
        @include flex();
        @include flexDirection(column);
        @include justifyContent(center);
        align-items: center;
        align-content: center;
    }

    &__container-icons{
        @include flex();
        @include flexDirection(column);
        @include justifyContent(center);
        @include transition(all $trans-time-05s);
        @include flexBasis($fb-8per);
        align-items: center;
        align-content: center;
        cursor: pointer;
        grid-auto-rows: 1fr;
        border-radius: $bor-r-8px;
        background-color: $c-white-09;
        z-index: $zi-2;

        &:hover{
            @include boxShadow($box-sh-5px $c-silver-chalice);
            @include transition(all $trans-time-05s);
        }

        .tools{
            &__icons{
                width: $w-70px;
                padding: $p-10per;
                height: $h-70px;
            }

            &__inscription{
                text-overflow: ellipsis;
                white-space: nowrap;
                color: $c-hemp;
                font-family: $f-work-sans;
                margin: 0 $m-1per $m-1per $m-1per;
                text-align: center;
                font-size: $fs-0625rem;
            }
        }
    }

    .icon{
        background: $c-white;
        border-radius: $bor-r-8px;
        cursor: pointer;
        z-index: $zi-1;
    }
}