.description__main-container{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 92px 0 0 0;
}

.description-about-me__main-container{
    flex-basis: 45%;
}

.description-about-me__main-header{
    color: black;
    font-family: 'Asap Condensed', sans-serif;
    line-height: 1;
    margin: 0;
}

.description-about-me__second-header{
    color: #dbb594;
    line-height: 1.1;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.description-skills__main-container{
    flex-basis: 45%;
}

.description-about-me__text-content{
    color: #8a7474;
    line-height: 1.4;
}

.description-about-me__list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.description-about-me__list-item{
    color: #8a7474;
    padding-bottom: 2%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-shrink: 0;
}

.description-list-item__span{
    padding-left: 20px;
}

.description-courses__main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.description-skills__ability-wrapper{
    border-radius: 8px;
    padding-bottom: 20px;
    box-shadow: 5px 5px 5px #aaa;
}

.description-courses__text-content{
    font-weight: bold;
    padding-right: 3%;
}

.description-courses__easy-icon{
    height: 70px;
}

.skills__container-ability{
    flex-basis: 10%;
    max-width: 90%;
    margin: 0 0 20px 3.5%;
    border-radius: 7px;
    background-color: #ededed;
}

/* mixins add */
.column-10{
    width: 100%;
}

.column-9{
    width: 90%;
}

.column-8{
    width: 80%;
}

.column-7{
    width: 70%;
}

.column{
    height: 100%;
    box-shadow: 5px 5px 5px #aaa;
    border-radius: 7px;
    background: linear-gradient(to right, #f8cda7, #dbb594);
    animation: showSkills 2s ease-out forwards;
}

.column > p {
    padding: 10px;
    margin: 0;
    text-align: right;
}

.description-skills__education-container{
    margin-bottom: 5%;
}

.description-about-me__secondary-school-container{
    color: #8a7474;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.secondary-school-container__years-text,
.secondary-school-container__school-text{
    margin: 0;
}

.secondary-school-container__years-text{
    flex-basis: 20%;
    font-weight: 700;
}

.secondary-school-container__school-text{
    flex-basis: 80%;
    margin-left: 2%;
}

@-webkit-keyframes showSkills {
    from {
      width: 0;
    }
    to {
      width: 1;
    }
}
  
@keyframes showSkills {
    from {
      width: 0;
    }
    to {
      width: 1;
    }
}