.my-works__new-work{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    border-radius: 8px 8px 0 0 ;
    background-color: rgba(219, 181, 148, 0.75);
}

.my-works__content-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    align-items: center;
    align-content: center;
    margin: 0 auto;
}

.my-works__new-paragraph{
    margin: 0 0 2% 0;
    color: white;
}

.my-works__new-description{
    margin: 0;
    color: white;
}